<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SMTP SERVER ADMIN PANEL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/public/style.css}" rel="stylesheet"/>
</head>
<body>
    
<div id="container">
            <h1 th:text="'Welcome, '+${username}+'.'"></h1>
    <a href="/logout">(Log out)</a>
    <a href="/domains">Manage domains and accounts</a>
        
</div>
</body>
</html>